@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* White background for light mode */
  --foreground: #000000; /* Black text for light mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark background for dark mode */
    --foreground: #ededed; /* Light text for dark mode */
  }
}

body {
  color: var(--foreground); /* Use foreground color for text */
  background: var(--background); /* Use background color */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
